extends layout

block content
    .content
        .container
            each intervento in interventions
                .intervention-card
                    h3= intervento.date
                    p= intervento.intervento
                    .info-row
                        span Chilometri: #{intervento.kilometri}
                        span Costo: €#{intervento.costo}
                    .action-row
                        a.btn-edit(href=`/update/${intervento._id}`)
                            span.material-symbols-outlined edit
                            |  Edit
                        form(method="post", action=`/delete/${intervento._id}`)
                            input(type="hidden", name="_method", value="delete")
                            button.btn-delete(type="submit")
                                span.material-symbols-outlined delete
                                |  delete